<h1>A Quick Puzzle to Test Your Problem Solving</h1>

<p> A short game sheds light on government policy, corporate America and why no one likes to be wrong.</p>

<p> Here's how it works: </p>
<p> We’ve chosen a rule that some sequences of three numbers obey — and some do not. Your job is to guess what the rule is.</p>

<p>We’ll start by telling you that the sequence 2, 4, 8 obeys the rule:</p>
<li>2, 4, 8 Obeys the rule</li>

<p> Now it’s your turn. Enter a number sequence in the boxes below, and we’ll tell you whether it satisfies the rule or not. You can test as many sequences as you want. </p>

<li>
  1, 5, 6 Yes!
  8, 9, 99 Yes!
  3, 2, 1 No.
  10, 5, 2 No.
  1, 5, 2 No.
  1, 2, 3 Yes!
  1, 2, 3 Yes!
  1, 5, 6 Yes!
  1, 4, 6 Yes!
</li>

<p> Enter a sequence: </p>
